.button{
    text-decoration: none !important;
    cursor: default;
    display: inline-block;
    padding: .6em 1.5em .6em 1.5em;
    width: 200px;
    background-color: #111;
    color: #4c4c4c;
    font: 14px/1 Verdana, Arial, Sans-Serief;
}
