/*注册流程按钮 begin*/
.typeChoose {
    position: relative;
    display: inline-block;
    background: #1D95EC;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    padding: 18px 25px;
    overflow: hidden;
    color: #FFFFFF;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
    width: 100px;
    font-size: 20px;
}
.typeChoose:hover {
    background: #2f77bf;
}
.submit_return {
	position: relative;
    background: #56E095;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    padding: 8px 40px;
    overflow: hidden;
    color: #FFFFFF;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
    font-size: 15px;
}
.submit_return:hover {
	background: #46B177;
}
.reset {
	position: relative;
    background: #F95555;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    padding: 8px 40px;
    overflow: hidden;
    color: #FFFFFF;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
    font-size: 15px;
}
.reset:hover {
	background: #AB3030;
}
.next-button{
	padding-left: 25px;
	padding-top: 30px;
	padding-bottom: 50px;
	text-align: center;
}
/*注册流程按钮 end*/